.button-container {
  width: 100%;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.icon-wrapper {
  @include flexCenter();
  cursor: pointer;
}
.wrap-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  z-index: var(--overlay-base-z-index);
}
