.detail-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem 1rem;
  height: 100%;
}
.detail-header {
  &__title {
    @include typeface("Heading_2");
    margin-top: 0;
    margin-bottom: 10px;
  }
  &.sticky {
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: -4px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      border-bottom: 1px solid transparent;
      background: #fff;
    }
  }
  &__user-content {
    padding: 14px 0;
    position: relative;
    display: flex;
    align-items: center;

    .user-image {
      flex-shrink: 0;
      overflow: hidden;
      & > img {
        border-radius: 50%;
      }
    }
    .user-content-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-left: 1rem;
      justify-content: space-between;
      .user-name {
        @include typeface("Paragraph_2_b");
      }
      .user-status {
        @include typeface("Paragraph_3_b");
        color: color("green");
      }
    }
  }
}
.image-container {
  position: relative;
  &.detail {
    padding-bottom: 75%;
    margin: 0 -16px;
    & > img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
