.error-container {
  // width: 100%;
  height: 88%;
  @include flexCenter();
  & > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
