// $color-map: (
//   1: color("grey_111"),
//   2: color("line_02"),
//   3: color("grey_666"),
//   4: color("grey_999"),
//   5: color("grey_bbb"),
//   6: color("grey_ccc"),
//   7: color("grey_f4"),
//   8: color("line_01"),
//   9: color("grey_333"),
// );
$color-map: (
  1: color("grey_111"),
  2: color("line_02"),
  3: color("grey_666"),
  4: color("grey_999"),
  5: color("grey_111"),
  6: color("grey_999"),
  7: color("grey_666"),
  8: color("line_02"),
  9: color("grey_333"),
);

@function get-color($i) {
  @return map-get($map: $color-map, $key: $i);
}
.spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: calc(var(--overlay-base-z-index) + 1);
  &__square {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: calc(var(--overlay-base-z-index) + 1);
    display: grid;
    width: 80px;
    height: 80px;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    background-color: transparent;
    @for $i from 1 through 9 {
      > div:nth-child(#{$i}) {
        background-color: get-color($i);
        // background-color: color("grey_111");
        animation: suffle-color 1s ($i * 0.2s - 0.1s) infinite;
        // animation: suffle-color 1s infinite;
      }
    }
  }
  &__text {
    @include typeface("Heading_2");
    z-index: calc(var(--overlay-base-z-index) + 1);
    color: color("white");
    position: relative;
  }
  @include Overlay(49, 0.75);
}

@keyframes suffle-color {
  0% {
    background-color: color("grey_ccc");
  }
  33% {
    background-color: color("grey_666");
  }
  66% {
    background-color: color("grey_333");
  }
  100% {
    background-color: color("grey_111");
  }
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: calc(var(--overlay-base-z-index) + 1);
  // background: #000;

  .wave {
    position: relative;
    z-index: calc(var(--overlay-base-z-index) + 1);
    width: 4px;
    height: 60px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 8px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
    border: transparent;
    @for $i from 2 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.1s - 0.1s;
      }
    }
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loading {
  z-index: calc(var(--overlay-base-z-index) + 1);
  position: relative;
  width: 4rem;
  height: 4rem;
  transform-style: preserve-3d;
  perspective: 800px;

  .arc {
    position: absolute;
    z-index: calc(var(--overlay-base-z-index) + 1);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: 4px solid var(--primary-color);

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation: rotate#{$i} 1.15s linear infinite;
      }
    }

    &:nth-child(1) {
      animation-delay: -0.8s;
    }

    &:nth-child(2) {
      animation-delay: -0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0s;
    }
  }
}

@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }

  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}

@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }

  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}

@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }

  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
