@import "@/styles/common/_mixins.scss";
@include animate-bottom-sheet-up();
@include animate-bottom-sheet-down();
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.25);
}
.modal__content {
  z-index: 101;

  &--bottom {
    display: flex;
    flex-direction: column;
    background-color: color("white");
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: auto;
    max-height: calc(100vh - 64px);
    &.open {
      animation: animate-bottom-sheet-up 0.3s ease-in-out;
    }
    &.close {
      animation: animate-bottom-sheet-down 0.3s ease-in-out;
    }
  }
}
.modal__close-button {
  &--bottom {
    // position: absolute;
    // position: fixed;
    height: 50px;
    width: 50px;
    background-color: color("white");
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    @include typeface("Heading_2");
    // transform: translateY(-100%);
  }
}
