// @import "@/styles/common/_mixins.scss";
@include animate-bottom-sheet-up();
@include animate-bottom-sheet-down();
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  @include Desktop() {
    background-color: rgb(0, 0, 0, 0.25);
  }
}
.modal__content {
  &--bottom {
    display: flex;
    flex-direction: column;
    z-index: 101;
    background-color: color("white");
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: auto;
    // max-height: calc(100vh - 64px);
    height: 100vh;
    &.open {
      animation: animate-bottom-sheet-up 0.3s cubic-bezier(0.46, 1.12, 1, 1);
      -webkit-animation: animate-bottom-sheet-up 0.3s cubic-bezier(0.46, 1.12, 1, 1);
    }
    &.close {
      animation: animate-bottom-sheet-down 0.3s ease-in-out;
      -webkit-animation: animate-bottom-sheet-down 0.3s ease-in-out;
    }
    @include Desktop() {
      height: calc(100vh - 80px);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
}
.modal__close-button {
  &--bottom {
    // position: absolute;
    // position: fixed;
    height: 50px;
    width: 50px;
    background-color: color("white");
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    @include typeface("Heading_2");
    // transform: translateY(-100%);
  }
}
.close-button {
  z-index: 5;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
