// @import "@/styles/common/_mixins.scss";
@include animate-bottom-sheet-up();
@include animate-bottom-sheet-down();

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  // added
  @include flexCenter();

  &.detail {
    z-index: 100;
    background-color: transparent;
    @include Desktop() {
      background-color: rgb(0, 0, 0, 0.7);
    }
  }
}
.modal__container {
  &--basic {
    @include flexCenter();
    flex-direction: column;
    width: 100%;
    // height: 100%;
    max-width: 440px;
    min-width: 260px;
    margin: 20px;
    border-radius: 12px;
    background-color: color("white");
  }
  &--bottom {
    display: flex;
    flex-direction: column;
    z-index: var(--detail-header-z-index + 1);
    background-color: color("white");
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: auto;
    // max-height: calc(100vh - 64px);
    height: 100%;
    &.open {
      animation: animate-bottom-sheet-up 3s cubic-bezier(0.46, 1.12, 1, 1);
      -webkit-animation: animate-bottom-sheet-up 0.3s cubic-bezier(0.46, 1.12, 1, 1);
    }
    &.close {
      animation: animate-bottom-sheet-down 0.3s ease-in-out;
      -webkit-animation: animate-bottom-sheet-down 0.3s ease-in-out;
    }
    @include Desktop() {
      height: calc(100vh - 60px);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
  // &--bottom-sheet {
  //   position: absolute;
  //   border-radius: 24px 24px 0 0;
  //   box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);

  //   width: 100%;
  //   max-height: 40%;
  //   bottom: 0;
  //   overflow: auto;
  // }
}
.modal_header {
  display: grid;
  width: 100%;
  grid-template-columns: 30px 1fr 30px;
  place-items: center;
  box-sizing: border-box;
  padding: 10px 10px 0px;
  .modal__close-button {
    cursor: pointer;
  }
}
.modal__close-button {
  &--bottom {
    // position: absolute;
    // position: fixed;
    height: 50px;
    width: 50px;
    background-color: color("white");
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    @include typeface("Heading_2");
    // transform: translateY(-100%);
  }
}
.close-button {
  z-index: 5;
  position: absolute;
  right: 16px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  // color: white;
  & > .icon {
    color: color("grey_111");
    @include Desktop() {
      color: color("white");
    }
  }
}
