.toast-container {
  position: fixed;
  top: 80px;
  // bottom: 100px;
  max-width: 280px;
  width: 100%;
  z-index: 100000;
  background-color: color("white");
  left: 100%;
  & > .toast-item {
    cursor: pointer;
    position: relative;
    background-color: color("white");
    padding: 10px 10px 10px 16px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;

    &.animate {
      // transform: translateX(-100%);
      animation: move-left-right 3s ease-in-out;
      -webkit-animation: move-left-right 3s ease-in-out;
    }
    &.success {
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        background-color: #25ae88;
      }
    }
    &.error {
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        background-color: #ff0000;
      }
    }
    &.notification {
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        background-color: #999999;
      }
    }
    & > .icon {
      width: 24px;
      height: 24px;
    }
    & > .text {
      @include typeface("Paragraph_1_m");
    }
  }
}
@keyframes move-left-right {
  15% {
    transform: translateX(-100%);
  }
  85% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes move-right {
  100% {
    transform: translateX(0%);
  }
}
