@include animate-bottom-sheet-up(100%);
.upload-page {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.1s linear;
  height: 100vh;
  box-sizing: border-box;
  &.open {
    @include Desktop() {
      padding-right: 320px;
      padding-bottom: 0;
    }
    padding-bottom: 200px;
    padding-right: 0;
  }
  .upload-content {
    box-sizing: border-box;
    width: 100%;
    overflow: auto;

    &__blocks {
      margin: 50px auto 0;
      max-width: 1000px;
    }
  }
}
.file-upload-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.side-bar {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-height: 0px;
  bottom: 0;
  background-color: color("white");
  overflow: hidden;
  &.open {
    // animation: animate-bottom-sheet-up 0.3s linear;
    transition: max-height 0.3s ease;
    max-height: 200px;
  }
  &__main {
    height: 200px;
    overflow: scroll;
    overflow-x: overlay;
  }
  &__second {
    display: none;
    height: 200px;
    overflow: scroll;
  }
  &.transition {
    .side-bar__main {
      display: none;
    }
    .side-bar__second {
      display: block;
    }
  }
  @include Desktop() {
    .side-bar-container {
      display: flex;
    }
    max-width: 0px;
    &.open {
      animation: unset;
      transform: translateX(calc(100% - 320px));
      max-height: unset;
      max-width: 640px;
    }
    position: absolute;
    border-radius: unset;
    box-shadow: 0 -50px 50px rgba(0, 0, 0, 0.15);
    right: 0;
    height: 100%;
    max-height: unset;

    &.transition {
      transform: translateX(calc(100% - 640px));
      transition: transform 0.2s linear;
      .side-bar__main {
        display: block;
      }
    }
    &__main {
      width: 320px;
      height: 100%;
      display: block;
    }
    &__second {
      display: block;
      height: 100%;
      width: 320px;
    }
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-200px);
    // display: block;
  }
  100% {
    opacity: 1;
    // display: block;
  }
}

.select-block-container {
  .block-list {
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    &__item {
      position: relative;
      padding: 10px 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include ItemHover();
      cursor: pointer;
      .icon-title {
        display: flex;
        // align-items: center;
        gap: 8px;
      }
    }
  }
}

.block-layout {
  width: 100%;
  position: relative;
  // &:active {
  //   border-radius: 8px;
  //   border: 1px solid #5c5ce7;
  // }
  border: none;
  padding: 20px;
  &.focus {
    border-radius: 8px;
    border: 1px solid #5c5ce7;
  }
}

.add-block-line {
  cursor: pointer;
  @include flexCenter();
  & > .line {
    width: 100%;
    height: 1.5px;
    background-color: #e7e7e9;
  }
  & > .icon-plus {
    @include flexCenter();
    width: 20px;
    height: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1.5px solid #e7e7e9;
  }
  opacity: 0;
  &:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
}
