@import "@/styles/common/_mixins.scss";
.project-container {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    max-width: 750px;
  }
}
