// @import "@/styles/common/_mixins.scss";
.project-container {
  padding: 3rem 2.5rem 8rem;
  @include Mobile {
    padding: 2.5rem 2.5rem 8rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  & > form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    max-width: 750px;
  }
}
