.user-layout {
  // max-width: 1024px;
  // max-width: 1200px;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include Desktop() {
    display: grid;
    grid-template-columns: 290px 3.5fr;
  }
  .user-navigation-wrapper {
    @include Desktop() {
      padding: 30px 60px 0;
      border-left: 1px solid #f3f3f4;
      height: calc(100vh - 120px);
    }
    padding: 20px;
    border-bottom: 1px solid #f3f3f4;
  }
  .user-page-wrapper {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    padding: 20px 0;
    // @include Mobile() {
    //   grid-template-columns: 20px 1fr 20px;
    // }
  }
}
.page-space {
  // width: 60px;
  height: 100%;
  &.border {
    border-left: 1px solid #f3f3f4;
  }
}
.user-navigation {
  // padding: 30px 20px;
  position: sticky;
  .navi-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include Desktop() {
      flex-direction: column;
      gap: 24px;
    }

    &__item {
      position: relative;
      cursor: pointer;
      padding: 14px 18px;
      color: color("grey_bbb");
      @include typeface("Heading_2");

      &.selected {
        color: color("grey_111");
      }
      &:hover {
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0.3;
          background-color: color("grey_ccc");
          border-radius: 8px;
        }
      }
    }
  }
}

// UserProfilePage
.profile-container {
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  @include Desktop() {
    padding: 60px 0;
  }

  & > .profile__heading {
    @include flexCenter();
    flex-direction: column;
    gap: 20px;
    @include Desktop() {
      flex-direction: row;
    }
    & > .profile-info {
      @include flexCenter();
      flex-direction: column;
      @include Desktop() {
        align-items: flex-start;
      }
      .user-name {
        @include typeface("Heading_2");
      }
      .user-job {
        @include typeface("Paragraph_2_b");
        color: color("grey_bbb");
      }
    }
  }

  & > .profile__overview {
    // align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > .user-asset {
      display: flex;
      gap: 10px;
      & > .title {
        @include typeface("Paragraph_1_sb");
      }
      & > .description {
        margin-left: 10px;
        @include typeface("Paragraph_1_sb");
      }
    }
  }
}
.profile-container {
  &.skeleton {
    .profile__image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    .profile-info {
      width: 100%;
      gap: 4px;
      & > .user-name {
        width: 100px;
        height: 24px;
        border-radius: 4px;
      }
      & > .user-job {
        width: 80%;
        height: 20px;
        border-radius: 4px;
      }
    }
    .user-asset {
      & .title {
        border-radius: 4px;
        width: 60px;
        height: 24px;
      }
      & .description {
        border-radius: 4px;
        width: 130px;
        height: 24px;
      }
    }
  }
}

// UserActivityPage
