.edit-profile-container {
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  @include Desktop() {
    padding: 60px 0;
  }

  & > .profile__heading {
    @include flexCenter();
    flex-direction: column;
    gap: 20px;
    @include Desktop() {
      flex-direction: row;
    }
    & > .profile-info {
      @include flexCenter();
      flex-direction: column;
      @include Desktop() {
        align-items: flex-start;
      }
      .user-name {
        @include typeface("Heading_2");
      }
      .user-job {
        @include typeface("Paragraph_2_b");
        color: color("grey_bbb");
      }
    }
  }

  & > .profile__overview {
    // align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > .user-asset {
      display: flex;
      gap: 10px;
      & > .title {
        @include typeface("Paragraph_1_sb");
      }
      & > .description {
        margin-left: 10px;
        @include typeface("Paragraph_1_sb");
      }
    }
  }
}
.edit-profile-container {
  &.skeleton {
    .profile__image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    .profile-info {
      width: 100%;
      gap: 4px;
      & > .user-name {
        margin-top: 8px;
        width: 100px;
        height: 24px;
        border-radius: 4px;
      }
      & > .user-job {
        width: 80%;
        height: 20px;
        border-radius: 4px;
      }
    }
    .user-asset {
      & .title {
        border-radius: 4px;
        width: 60px;
        height: 24px;
      }
      & .description {
        border-radius: 4px;
        width: 130px;
        height: 24px;
      }
    }
  }
}
