.user-layout {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;

  .profile-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 24px;
    & > .user-image {
      width: 80px;
      height: 80px;
      @include Desktop() {
        width: 120px;
        height: 120px;
        & > img {
          width: 100%;
          height: 100%;
        }
      }
    }

    @include Desktop() {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      align-self: center;
    }
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &__name {
        display: inline-block;
        margin: 16px 0;
        @include typeface("Heading_2");
        font-weight: 800;
      }
    }
  }
}

.user-content-navigation {
  position: sticky;
  z-index: calc(var(--navbar-z-index) - 1);
  top: var(--navbar-height);
  left: 0;
  background-color: color("white");
  width: 100%;
  border-bottom: 1px solid #e7e7e9;

  .content-list {
    box-sizing: border-box;
    list-style: none;
    padding: 24px 16px;
    margin: 0;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    & > a {
      width: 100%;
    }
    &__item {
      position: relative;
      &:hover {
        //
      }
      &.selected {
        background-color: #f8f7f4;
        border-radius: 20px;
      }
      .label {
        // padding: 10px 0;
      }
      & > a {
        display: inline-flex;
        align-items: center;
        height: 30px;
        padding: 4px 16px;
        @include typeface("Paragraph_2b");
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // }
}

.profile-container {
  &.skeleton {
    .image {
      align-self: flex-start;
      @include Desktop() {
        align-self: center;
      }
      width: 80px;
      height: 80px;
      border-radius: 50%;
      flex-shrink: 0;
    }
    .bar {
      width: 90px;
      margin: 16px 0;
      height: 30px;
      border-radius: 8px;
    }
    .bar-button {
      width: 147px;
      height: 44px;
      border-radius: 8px;
    }
  }
}
