// @import "my-react-component/src/styles/typeface.module.scss";
// @import "my-react-component/src/styles/colors.module.scss";
@import "./variables.scss";

@mixin Mobile {
  @media (min-width : #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}
@mixin Tablet {
  @media (min-width : #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}
@mixin Desktop {
  @media (min-width : #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin animate-bottom-sheet-up {
  @keyframes animate-bottom-sheet-up {
    0% {
      transform: translateY(15%);
      opacity: 0;
      -webkit-transform: translate3d(0, 15%, 0);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
}
@mixin animate-bottom-sheet-down {
  @keyframes animate-bottom-sheet-down {
    0% {
      transform: translateY(0);
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translateY(15%);

      opacity: 0;
      -webkit-transform: translate3d(0, 15%, 0);
    }
  }
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
