// @import "my-react-component/src/styles/typeface.module.scss";
// @import "my-react-component/src/styles/colors.module.scss";
@import "./variables.scss";
//(min-width : #{$breakpoint-mobile}) and
@mixin Mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}
@mixin Tablet {
  @media (min-width : #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}
@mixin Desktop {
  @media (min-width : #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin animate-bottom-sheet-up($percent: 15%) {
  @keyframes animate-bottom-sheet-up {
    0% {
      transform: translateY($percent);
      opacity: 0;
      -webkit-transform: translate3d(0, $percent, 0);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
}
@mixin animate-bottom-sheet-down {
  @keyframes animate-bottom-sheet-down {
    0% {
      transform: translateY(0);
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translateY(15%);

      opacity: 0;
      -webkit-transform: translate3d(0, 15%, 0);
    }
  }
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin ItemHover {
  &:hover {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
      background-color: color("grey_ccc");
      border-radius: 8px;
    }
  }
}
