@import "@/styles/common/mixins.scss";
@import "@/styles/layout/basic.scss";

.page-container {
  display: grid;
  gap: 36px;
  padding: 0 20px;
  max-width: 1048px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // @include Tablet {
  //   & {
  //     grid-template-columns: repeat(2, 1fr);
  //   }
  // }
  // @include Desktop {
  //   & {
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  // }
}
