@import "@/styles/common/mixins.scss";
@import "@/styles/layout/basic.scss";

// .page-container {
//   display:grid;
//   gap:10px;

//   grid-template-columns: repeat(2,1fr);
//   @include Tablet {
//     & {
//       grid-template-columns: repeat(3,1fr);
//     }
//   }
//   @include Desktop {
//     & {
//       grid-template-columns: repeat(4,1fr);
//     }
//   }
//   & > div {
//     display:flex;
//     flex-direction: column;
//     gap:4px;
//     & >div {
//       position : relative;
//       padding-bottom: 100%;
//       & >img {
//         position: absolute;
//         top:0;
//         left:0;
//         width:100%;
//         height:100%;
//       }
//     }
//   }
// }
