.image-container {
  position: relative;
  &.skeleton {
    border-radius: 8px;
  }
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &.main {
    padding-top: 75%;
    border-radius: 8px;
    // background-color: #e7e7e9;
    & > img {
      border-radius: 8px;
      object-fit: cover;
    }
  }
  &.detail {
    padding-bottom: 85%;
    margin: 0 -20px;
    & > img {
      background-color: #e7e7e9;
    }
  }
}
