.image-container {
  position: relative;
  &.detail {
    width: 100vw;
    padding-bottom: 85%;
    margin: 0 -16px;
    & > img {
      background-color: #e7e7e9;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}
