.image-container {
  position: relative;
  overflow: hidden;
  &.skeleton {
    border-radius: 8px;
  }
  &.hidden {
    opacity: 0.4;
  }
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &.main {
    padding-top: 75%;
    border-radius: 8px;
    & > img {
      border-radius: 8px;
      object-fit: cover;
    }
  }
  &.detail {
    padding-bottom: unset;
    position: unset;
    margin: 0 -20px;
    & > img {
      position: unset;
      height: auto;
      background-color: #e7e7e9;
    }
    @media screen and (min-width: 801px) {
      & > img {
        border-radius: 8px;
      }
      margin: 0;
    }
  }
}
.user-image {
  cursor: pointer;
  @include flexCenter();
  border-radius: 50%;
  border: 1px solid #f7f7f7;
  color: #fff;
  overflow: hidden;
  & > img {
    text-align: center;
    -o-object-fit: cover;
    object-fit: cover;
    color: transparent;
  }
  &.loading {
    width: var(--navbar-user-image-size);
    height: var(--navbar-user-image-size);
  }
}
.edit-user-image {
  cursor: pointer;
  position: relative;
  & > img {
    position: absolute;
    border-radius: 50%;
    bottom: -4px;
    right: -4px;
    background-color: #f5f5f5;
  }
}
