.image-container {
  position: relative;
  &.skeleton {
    border-radius: 8px;
  }
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &.main {
    padding-top: 75%;
    border-radius: 8px;
    // background-color: #e7e7e9;
    & > img {
      border-radius: 8px;
      object-fit: cover;
    }
  }
  &.detail {
    padding-bottom: 85%;
    margin: 0 -20px;
    & > img {
      background-color: #e7e7e9;
    }
  }
}
.user-image {
  @include flexCenter();
  border-radius: 50%;
  border: 1px solid #f7f7f7;
  color: #fff;
  // background-color: #fff;
  overflow: hidden;
  & > img {
    text-align: center;
    -o-object-fit: cover;
    object-fit: cover;
    color: transparent;
  }
  &.small {
    width: 80px;
    height: 80px;
  }
  &.medium {
    width: 80px;
    height: 80px;
  }
  &.large {
    width: 80px;
    height: 80px;
  }
}
.edit-user-image {
  cursor: pointer;
  position: relative;
  & > img {
    position: absolute;
    border-radius: 50%;
    bottom: -4px;
    right: -4px;
    background-color: #f5f5f5;
  }
}
