.login-container {
  min-height: 100vh;
  display: flex;
  /* background-color: #f5f5f5; */
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
