// @import "@/styles/common/_mixins.scss";
.project-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .project-card__image-wrapper {
    position: relative;
    padding-bottom: 75%;
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
  .project-card__explain {
    display: flex;
    justify-content: space-between;
    .writer {
      display: flex;
      gap: 4px;
      justify-content: center;
      align-items: center;
      & > img {
        border-radius: 50%;
      }
      & > span {
        @include typeface("Paragraph_2_b");
      }
    }
  }
}
