.project-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .project-card__image-wrapper {
    position: relative;
    padding-bottom: 75%;
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
  .project-card__explain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .writer {
      display: flex;
      gap: 4px;
      justify-content: center;
      align-items: center;
      & > img {
        border-radius: 50%;
      }
      & > span {
        @include typeface("Paragraph_2_b");
      }
    }
    .user-controller {
      display: flex;
      gap: 6px;
      align-items: center;
      & > .user-action-button {
        width: 16px;
        height: 16px;
        border: none;
      }
    }

    .user-actions {
      @include flexCenter();
      gap: 4px;
      padding-right: 4px;
      & > .favorite-count {
        @include typeface("Paragraph_2");
        color: color("grey_999");
      }
    }
    .clear-actions {
      position: relative;
      @include flexCenter();
      &__content {
        border: 1px solid #f3f3f4;
        border-radius: 8px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0px;
        top: -40px;
        right: 0;
        background-color: color("white");

        & > .item {
          z-index: calc(var(--overlay-base-z-index) + 1);
          width: 95px;
          padding: 8px 10px;
          box-sizing: border-box;
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          gap: 4px;
          @include ItemHover(false);
          & > span {
            display: inline-block;
            @include typeface("Paragraph_3");
          }
        }
        // & > .overlay {
        //   z-index: 1;
        // }
      }
    }

    &.skeleton {
      height: 24px;
      .writer {
        width: 100%;
      }
      .user-image {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 50%;
      }
      .text {
        border-radius: 4px;
        width: 100%;
        height: 18px;
      }
    }
  }
}
