.project-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .project-card__image-wrapper {
    position: relative;
    padding-bottom: 75%;
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
  .project-card__explain {
    display: flex;
    justify-content: space-between;
    .writer {
      display: flex;
      gap: 4px;
      justify-content: center;
      align-items: center;
      & > img {
        border-radius: 50%;
      }
      & > span {
        @include typeface("Paragraph_2_b");
      }
    }
    .user-actions {
      @include flexCenter();
      gap: 4px;
      padding-right: 4px;
      & > .favorite-count {
        @include typeface("Paragraph_2");
        color: color("grey_999");
      }
    }

    &.skeleton {
      height: 24px;
      .writer {
        width: 100%;
      }
      .user-image {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 50%;
      }
      .text {
        border-radius: 4px;
        width: 100%;
        height: 18px;
      }
    }
  }
}
