.signup-page {
  display: flex;
  min-height: 90%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}
.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  & > :last-child {
    margin-top: 32px;
  }
}
.signup-back {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e7e7e9;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.signup-container {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  & > .signup {
    &__title {
      @include typeface("Heading_1");
      font-weight: 800;
      margin-bottom: 32px;
      align-self: flex-start;
    }
  }
  & > .bar {
    // display: inline-block;
    width: 100%;
    height: 1px;
    border-bottom: 0.5px solid #e7e7e9;
    overflow: visible;
    margin: 20px 0;
    &::after {
      position: relative;
      content: "or";
      display: inline-block;
      padding: 0 14px;
      top: -13px;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, 0);
      background-color: color("white");
      color: color("grey_ccc");
    }
  }
}
